.article {

    &--body {
        display: flex; 
        flex-direction: row; 
        justify-content: space-between; 

        &-photo {
            width: 45%;
            margin-bottom: 5rem; 
            border: 0.05rem #ccc solid;
        }

        &-text {
            width: 45%;
            padding: 1rem; 
            margin-bottom: 5rem; 
            border: 0.05rem #ccc solid;
        }
    }


}