.blog__intro {
    width: 100%; 

    @include respond(tab-land) {
        width: 100%; 
    }

    &--title {
        text-align: left; 
        font-size: 2rem; 
    }

    &--content { 
        column-count: 2; 
        column-gap: 10rem; 
      }

    p {
        text-align: justify; 

        @include respond(tab-land) {
            font-size: 2rem; 
        }
    }
}