.blog__intro {
    width: 70rem; 

    @include respond(tab-land) {
        width: 100%; 
    }

    &--title {
        text-align: left; 
        font-size: 2rem; 
    }

    p {
        text-align: justify; 

        @include respond(tab-land) {
            font-size: 2rem; 
        }
    }
}